In [1]:
import pandas as pd

In [2]:
file_path = "../data/check_in.html"
check_in = pd.read_html(file_path)
check_in_df = check_in[0]

In [3]:
print(type(check_in_df), check_in_df.shape)
check_in_df.columns

<class 'pandas.core.frame.DataFrame'> (2562, 6)

Index(['Date', 'Business Name', 'Comment', 'Longitude', 'Latitude', 'Status'], dtype='object')

In [4]:
check_in_df["Date"].head()

0    2024-02-11T01:01:08+00:00
1    2024-02-10T04:49:23+00:00
2    2024-02-03T23:30:03+00:00
3    2024-02-01T18:37:47+00:00
4    2024-01-18T03:29:57+00:00
Name: Date, dtype: object

In [5]:
check_in_df["Business Name"].head()

0                  PS. Thai Lao Food
1                Saigon Noodle House
2    Jade Dynasty Seafood Restaurant
3          ChadLou's Coffee Roasters
4                        Jin Jja Roo
Name: Business Name, dtype: object

In [6]:
check_in_df.describe()

         Longitude     Latitude
count  2562.000000  2562.000000
mean   -109.953423    32.734896
std      42.119831    10.007447
min    -158.143736    21.268918
25%    -157.804847    21.376651
50%     -71.500405    41.567476
75%     -71.398176    41.825579
max     -70.085849    44.884607

In [7]:
check_in_df["Date"] = pd.to_datetime(check_in_df["Date"])
check_in_df = check_in_df.drop(columns=['Comment', 'Status'])